.top_nav {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 10px;
	right: 10px;

	width: 50px;
	height: 50px;

	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 8px;

	opacity: 0;
	cursor: pointer;
	z-index: 1;
	transform: translateY(-100%);
	transition: 500ms;
}

.top_nav>.nav_icon {
	width: 42px;
	height: 42px;

	color: #FFFFFF;
	transition: 300ms;
}

.top_nav:hover>.nav_icon {
	transform: rotate(90deg);
}

.side_nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: absolute;

	width: 130px;
	height: 100%;

	background-color: #181818;
	
	opacity: 0;
	transform: translateX(-100%);
	transition: 500ms;
}

.side_nav>.main_menu_top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 20px 0;
	width: 100%;
	height: 140px;

	background-color: #000000;
}

.side_nav>.main_menu_top>.main_menu_logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 120px;

	cursor: pointer;
}

.side_nav>.main_menu_top>.main_menu_logo>.main_logo_img {
	width: 57.2px;
	height: 79.2px;

	background-color: #fff;
}

.side_nav>.main_menu_top>.main_menu_logo>span {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 2px;
	height: 38.8px;

	color: white;
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	letter-spacing: -1.6px;
}

.side_nav>.main_menu_top>span {
	margin-top: 8px;

	color: #a5a5a5;
	font-family: 'Open Sans';
	font-size: 12px;
}

.side_nav>.main_menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;

	border-top: 1px solid #282828;
}

.side_nav>.main_menu>.each_menu {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 50px;

	color: var(--color-gray);
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px solid #282828;

	transition: 300ms;
	cursor: pointer;
}

.side_nav>.main_menu>.each_menu>div>.first_letter {
	font-size: 18px;
	font-weight: 400;
}

.side_nav>.main_menu>.each_menu:hover {
	color: white;
	animation: side_text 500ms ease-in-out infinite alternate;
}

.side_nav>.main_menu_bottom {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 10px 0;
	width: 100%;
	height: 160px;
}

.side_nav>.main_menu_bottom>.link_icon {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 12px;
	width: 24px;

	filter: invert(77%) sepia(12%) saturate(3%) hue-rotate(354deg) brightness(83%) contrast(94%);
	cursor: pointer;
	transition: 300ms;
}

.side_nav>.main_menu_bottom>.link_icon:hover {
	animation: link_icon 500ms ease-in-out infinite alternate;
}

@keyframes side_text {
	0% {
		text-shadow: 0 0 10px #777777, 0 0 20px #777777, 0 0 30px #777777;
	}
	100% {
		text-shadow: 0 0 5px #777777, 0 0 10px #777777, 0 0 15px #777777;
	}
}

@keyframes link_icon {
	0% {
		filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) drop-shadow(0 0 10px #777777) drop-shadow(0 0 20px #777777) drop-shadow(0 0 30px #777777);
	}
	100% {
		filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) drop-shadow(0 0 5px #777777) drop-shadow(0 0 10px #777777) drop-shadow(0 0 15px #777777);
	}
}