@media (min-width: 1001px) {
	.section_home_main_info>.profile_zone {
		order: 2;
		flex: 0.45;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}

@media (max-width: 1000px) {
	.section_home_main_info {
		flex-flow: row nowrap;
		flex-direction: column;
	}

	.section_home_main_info>.text_zone {
		order: 2;
		flex: 0.65;
		width: calc(100% - 1rem);
		padding-left: 1rem;
	}

	.section_home_main_info>.profile_zone {
		order: 1;
		flex: 0.35;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}
}

@media (min-height: 801px) {
	.section_home_main_info>.profile_zone {
		margin-top: 0;
	}

	.section_home_main_info>.text_zone {
		margin-top: 0;
	}
}

@media (max-height: 800px) {
	.section_home_main_info>.profile_zone {
		margin-top: 60px;
	}

	.section_home_main_info>.text_zone {
		margin-top: 60px;
	}
}

.section_home_main_info {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 80px 30px;
	width: calc(100% - 60px);
	height: calc(100% - 160px);

	transition: 300ms;
}

.section_home_main_info>.text_zone {
	display: flex;
	flex-direction: column;
	justify-content: center;

	white-space: pre-line;
}

.section_home_main_info>.profile_zone {
	display: flex;
	padding: 0 2rem;
	width: calc(100% - 4rem);
	height: 100%;
}

.section_home_main_info>.profile_zone>.profile_image {
	margin: 8px;
	width: 7.2rem;
	height: 7.2rem;

	border-radius: 3.6rem;
	background-color: black;

	-moz-box-shadow: inset 0.06rem 0.06rem 0.15rem rgba(154, 147, 140, 0.5), 0.03rem 0.03rem 0.15rem rgba(255, 255, 255, 1);
	-webkit-box-shadow: inset 0.06rem 0.06rem 0.15rem rgba(154, 147, 140, 0.5), 0.03rem 0.03rem 0.15rem rgba(255, 255, 255, 1);
	box-shadow: inset 0.06rem 0.06rem 0.15rem rgba(154, 147, 140, 0.5), 0.03rem 0.03rem 0.15rem rgba(255, 255, 255, 1);

	transition: 300ms;
}

.section_home_main_info>.text_zone>h1 {
	margin: 0;
	padding: 0;

	color: #FFFFFF;
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: -2px;

	transition: 300ms;
}

.section_home_main_info>.text_zone>h1>span {
	animation-duration: 800ms;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	display: inline-block;
}

.section_home_main_info>.text_zone>h1>span:hover {
	animation-name: rubberBand;
	background: -webkit-linear-gradient(#E7527C, #F8E8DC);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.section_home_main_info>.text_zone>p {
	margin: 24px 0;

	color: #8D8D8D;
	font-size: 0.76rem;
	font-weight: 300;
	letter-spacing: 0.1rem;

	transition: 300ms;
}